<h1>My lists</h1>

<div class="cards-list">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-list">
        <div class="list-links">
          <%= link_to edit_list_path(list) do %><i class="fa-solid fa-marker"></i><% end %></p>
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can"></i><% end %></p>
        </div>
        <div class="list-info">
          <h2><%= list.name %></h2>
          <p><%= list.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
