<h1>My lists</h1>

<div class="cards-list">
  <% @lists.each do |list| %>
    <div class="card-list">
      <%= link_to list_path(list) do %>
        <div class="card-list-info">
          <h2><%= list.name %></h2>
          <p><%= list.description %></p>
        </div>
      <% end %>
        <div class="card-list-links">
          <%= link_to new_list_task_path(list) do %><i class="fa-solid fa-circle-plus" title="New task"></i><% end %>
          <%= link_to edit_list_path(list) do %><i class="fa-solid fa-marker" title="Edit list"></i><% end %>
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can" title="Delete list"></i><% end %>
        </div>
    </div>
  <% end %>
</div>
