<h1><%= @list.name %></h1>
<p><%= @list.description %></p>

<div class="cards-task">
  <% @list.tasks.each do |task| %>
    <div class="card-task">
      <div class="task-links">
        <%= link_to edit_task_path(task) do %><i class="fa-solid fa-marker"></i><% end %>
        <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can"></i><% end %>
      </div>
      <div class="task-info">
        <h2><%= task.title %></h2>
        <p><%= task.description %></p>
        <% if params[:location].nil? %>
          <p><%= task.location %></p>
        <% end %>
        <% if params[:date].nil? %>
          <p><%= task.date %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Back', lists_path %>
